.services__button {
  border: none;
  background-color: transparent;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #9224D6;  

}
.about__button {
  background-color: transparent;
  border: 1px solid #1C1B1E;
box-sizing: border-box;
border-radius: 40px; 
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
padding: 10px 27px;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.05em;
color: #1C1B1E;
}